body {
    font-family: Arial, sans-serif;
    background-color: #fbe8ec;
    margin: 0;
    padding: 0;
}
#back{
    color: #590d22;
    font-size: 3rem;
}

.container {
    width: 80%;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
}

input[type="text"], input[type="submit"] {
    padding: 10px;
    margin: 5px;
    width: 50%;
}

input[type="submit"] {
    background-color: #590d22;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #77112e;
}
