.logbox{
    display: flex;
    justify-content: space-evenly;
}
.box1{
    height: 500px;
    width: 35%;
    background-color: #fff0f3;
    color: #590d22;
    font-weight: bolder;
    font-size: 4.5rem;
    position: relative;
    top: 100px;
    left: 100px;
}
.box2{
    height: 500px;
    width: 40%;
    background-color: white;
    margin-top: 5%;
}
.fullname,.email,.role{
    margin-left: 18%;
    margin-top: 50px;
    font-size: 1.5rem;
    color: #a4133c;
    font-weight: bold;
}
#fullname,#email,#submit,#role{
    width: 40%;
    height: 40px;
    border: transparent;
    background-color: #fff0f3;
    margin-left: 20%;
    font-size: 1.5rem;
    color: #800f2f;
}
#submit{
    width: 20%;
    font-weight: bold;
    font-size: 1.7rem;
    margin-left: 30%;
}
#back{
    color: #590d22;
}
